<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">

<head>
    <meta charset="utf-8" />
    <title>Detalhes do Cliente</title>
</head>

<body>
    <section layout:fragment="conteudo">
        <div class="container">
            <div class="panel panel-danger" style="margin-top: 0cm; margin-bottom: 1cm">
                <div class="panel panel-heading">
                    <h2 class="panel-title" style="text-align: center"><strong>Dados do cliente</strong></h2>
                </div>
                <div class="panel-body">
                    <div class="col-sm-5">
                        <h5>ID: <label th:text="${cliente.IdCliente}"></label></h5>

                        <h5>Data de criação: <label th:text="${cliente.criacao}"></label></h5>

                        <h5>Nome Fantasia: <label th:text="${cliente.nomeFantasia}"></label></h5>

                        <h5>Razão Social: <label th:text="${cliente.razaoSocial}"></label></h5>

                        <h5>CNPJ: <label th:text="${cliente.cnpj}"></label></h5>

                        <h5>Telefone: <label th:text="${cliente.telefone}"></label></h5>

                        <h5>Email: <label th:text="${cliente.email}"></label></h5>

                        <h5>CEP: <label th:text="${cliente.cep}"></label></h5>
                        
                        <h5>UF: <label th:text="${cliente.ufEndereco}"></label></h5>
                        
                        <h5>Cidade: <label th:text="${cliente.cidade}"></label></h5>
                        
                        <h5>Bairro: <label th:text="${cliente.bairro}"></label></h5>

                        <h5>Logradouro: <label th:text="${cliente.logradouro}"></label></h5>

                        <h5>Numero: <label th:text="${cliente.numero}"></label></h5>

                        <h5>Complemento: <label th:text="${cliente.complemento}"></label></h5>
                        
                        <h5>Contato no cliente: <label th:text="${cliente.contatoCliente.nomeContato}"></label></h5>
                        
                        <h5>Telefone do Contato: <label th:text="${cliente.contatoCliente.telefone}"></label></h5>
                        
                        <h5>Email do contato: <label th:text="${cliente.contatoCliente.email}"></label></h5>

                    </div>
                </div>
                <br></br> <a th:href="@{/cliente/lista}" style="float: right; margin-top: 1cm; margin-bottom: 1cm">Voltar para lista de clientes</a>
            </div>
        </div>
    </section>
</body>

</html>