<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">

<head>
    <meta charset="utf-8" />
    <title>Cadastro de Pefis</title>
</head>

<body>
    <section layout:fragment="conteudo">
        <div class="container">
            <div class="panel panel-primary" style="margin-top: 0cm; margin-bottom: 1cm">
                <div class="panel panel-heading">
                    <h2 class="panel-title" style="text-align: center"><strong>Cadastro de Usuários</strong></h2>
                </div>
                <div class="panel-body">
                    <form id="formusuario" th:object="${perfil}" th:action="@{/perfil/cadastra}" method="POST" class="form-group">
                        <div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <th:block th:each="erro : ${#fields.detailedErrors()}">
                                <div>
                                    <i class="fa  fa-exclamation-circle"></i>
                                    <span th:text="${erro.message}"></span>
                                </div>
                            </th:block>
                        </div>
                        <div class="container">
                            <fieldset style="max-width: 26cm">
                                <legend>Dados de Permissão</legend>
                                <div class="col-sm-5">
                                    <div class="form-group" th:classappend="${#fields.hasErrors('tipoAcesso')} ? has-error">
                                        <label for="tipoAcesso">Tipo de Acesso*:</label>
                                        <input id="tipoAcesso" type="text" class="form-control" th:field="*{tipoAcesso}" style="width: 200px"></input>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
                                        <label for="descricao">Descricão*:</label>
                                        <textarea class="form-control" rows="3" id="descricao" style="width: 400px" th:field="*{descricao}"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <br></br>
                        <div style="text-align:center;" class="col-sm-11">
                            <button type="reset" class="btn btn-warning">Limpar dados</button>
                            <button type="submit" class="btn btn-primary" id="enviar">Enviar dados</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>