<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">
<head>
    <title>Lista de Pedidos:</title>
    <meta charset="utf-8" />
</head>
<body>
    <section layout:fragment="conteudo">
        <div class="container">
            <div class="panel panel-success" style="margin-top: 0cm; margin-bottom: 2cm">
                <div class="panel panel-heading">
                    <h2 class="panel-title" style="text-align: center"><strong>Pedidos Cadastrados</strong></h2>
                </div>
                <!--<form class="form-inline" style="text-align: center" th:action="@{/funcionario/motoboy/busca}" th:object="${motoboy}">
                    <div class="input-group">
                        <input class="form-control" type="text" style="width: 350px" name="nomeCompleto" placeholder="Pesquisar motoboy por nome"></input>
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                     </div>
                </form>-->
                <div class="panel-body">
                    <table class="table table-striped table-bordered" id="tabelaPedido">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Data de Criação</th>
                                <th>Numero do Pedido</th>
                                <th>Nome do Cliente</th>
                                <th colspan="2">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pedido : ${pedidos}">
                                <td th:text="${pedido.idPedido}" id="idPedido"></td>
                                <td th:text="${pedido.criacao}"></td>
                                <td th:text="${pedido.numeroPedido}" id="numeroPedido"></td>
                                <td th:text="${pedido.cliente != null ?  pedido.cliente.nomeFantasia : ''}" id="nomeClientePedido"></td>
                                <td><a th:onclick="'javascript:editaLocalStoragePedido()'" th:href="@{/pedido/{idPedido}(idPedido=${pedido.idPedido})}">Editar</a></td>
                                <td><a th:href="'#'" href="#" data-toggle="modal" data-target="#myModal" id="deleta">Deletar</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Aviso!</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Confirmar exclusão do cadastro do pedido?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="deletaPedido">Confirmar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Div da paginação -->
                    <div class="col-sm-12 text-center" th:if="${totalPaginas != 0}">
                    	<nav>
                    		<ul class="pagination pagination-sm">
                    			<li class="enabled">
                    				<a th:href="|lista?page=${0}|"><span>&laquo;</span></a>                			
                    			</li>
                    			<th:block th:each="p : ${#numbers.sequence(1, totalPaginas)}">
                    			<li>
                    				<a th:href="|lista?page=${p - 1}|" th:text="${p}"></a>
                    			</li>
                    			</th:block>
                    			<li class="enabled">
                    				<a th:href="|lista?page=${totalPaginas -1}|"><span>&raquo;</span></a>
                    			</li>
                    		</ul>
                    	</nav>
                    </div>
                    <br></br>
                    <a th:href="@{#}" id="exporta" style="float: right">Exportar resultados para Excel</a>
                </div>
            </div>
        </div>
    </section>
    <th:block layout:fragment="javascript-extra">
    	<script src="/javascript/buscadados.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script src="/javascript/exportaExcel.js"></script>
        <script src="/javascript/deletaCadastros.js"></script>
    </th:block>
</body>

</html>