<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">

<head>
    <meta charset="utf-8" />
    <title>Lista de Perfis</title>
</head>

<body>
    <section layout:fragment="conteudo">
        <div class="container">
            <div class="panel panel-success" style="margin-top: 0cm; margin-bottom: 1cm">
                <div class="panel panel-heading">
                    <h2 class="panel-title" style="text-align: center"><strong>Perfis Cadastrados</strong></h2>
                </div>
                <form class="form-inline" style="text-align: center" th:action="@{/perfil/busca}" th:object="${perfil}">
                    <div class="form-group">
                        <label for="buscaTipoAcesso" class="col-xs-14 col-form-label">Pesquisar perfil por tipo de acesso:</label>
                        <input class="form-control" type="text" name="tipoAcesso" style="width: 300px"></input>
                        <button class="btn btn-success" type="submit">Buscar</button>
                        <p></p>
                    </div>
                </form>
                <div class="panel-body">
                    <table class="table table-striped table-bordered" id="tabela">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Data Criação</th>
                                <th>Tipo de Acesso</th>
                                <th>Descrição</th>
                                <th colspan="3">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="perfil : ${perfis}" id="resultados">
                                <td th:text="${perfil.idPerfil}" id="idPerfil" th:id="idPerfil"></td>
                                <td th:text="${perfil.criacao}"></td>
                                <td th:text="${perfil.tipoAcesso}" id="tipoAcesso" th:id="tipoAcesso"></td>
                                <td th:text="${perfil.descricao}"></td>
                                <td><a th:href="@{#}" id="selecionadoPerfil" th:onclick="'javascript:criaLocalStoragePerfil()'">Selecionar</a></td>
                                <td><a th:href="@{/perfil/{idPerfil}(idPerfil=${perfil.idPerfil})}">Editar</a></td>
                                <td><a th:href="'#'" href="#" data-toggle="modal" data-target="#myModal" id="deleta">Deletar</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Aviso!</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Confirmar exclusão do cadastro do perfil?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="deletaPerfil">Confirmar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                    <br></br>
                    <a th:href="@{#}" id="exporta" style="float: right">Exportar resultados para Excel</a>
                    <a th:href="@{/perfil/cadastra}" style="float: left">Voltar para cadastro de perfis</a>
                </div>
            </div>
        </div>
    </section>
    <th:block layout:fragment="javascript-extra">
        <script src="/javascript/buscadados.js"></script>
        <script src="/javascript/exportaexcel.js"></script>
        <script src="/javascript/deletaCadastros.js"></script>
    </th:block>
</body>

</html>