<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">
<head>
    <title>Lista de Motoboys:</title>
    <meta charset="utf-8" />
</head>
<body>
    <section layout:fragment="conteudo">
        <div class="container">
            <div class="panel panel-success" style="margin-top: 0cm; margin-bottom: 2cm">
                <div class="panel panel-heading">
                    <h2 class="panel-title" style="text-align: center"><strong>Motoboys Cadastrados</strong></h2>
                </div>
                <form class="form-inline" style="text-align: center" th:action="@{/motoboy/busca}" th:object="${motoboy}">
                    <div class="input-group">
                        <input class="form-control" type="text" style="width: 350px" name="nomeCompleto" placeholder="Pesquisar motoboy por nome"></input>
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                     </div>
                </form>
                <div class="panel-body">
                    <table class="table table-striped table-bordered" id="tabela">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>CPF do Motoboy</th>
                                <th>CNH</th>
                                <th>Categoria da CNH</th>
                                <th>Validade CNH</th>
                                <th colspan="3">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="motoboy : ${motoboys}">
                                <td th:text="${motoboy.idMotoboy}" id="idMotoboy"></td>
                                <td th:text="${motoboy.funcionario.nome}" id="nome"></td>
                                <td th:text="${motoboy.cpfProprietarioMoto}"></td>
                                <td th:text="${motoboy.cnh}"></td>
                                <td th:text="${motoboy.categoriaCNH}"></td>
                                <td th:text="${motoboy.validadeCNH}"></td>
                                <td><a th:href="@{/funcionario/motoboy/lista/{idMotoboy}(idMotoboy=${motoboy.idMotoboy})}">Detalhes</a></td>
                                <td><a th:href="'#'">Selecionar</a></td>
                                <td><a th:href="@{/funcionario/motoboy/{idMotoboy}(idMotoboy=${motoboy.idMotoboy})}">Editar</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br></br>
                    <a th:href="@{#}" id="exporta" style="float: right">Exportar resultados para Excel</a>
                </div>
            </div>
        </div>
    </section>
    <th:block layout:fragment="javascript-extra">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script src="/javascript/exportaExcel.js"></script>
        <script src="/javascript/deletaCadastros.js"></script>
    </th:block>
</body>

</html>